.main{
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
}
.parent{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  height: 450px;  
  border: 1px solid black;
  padding: 50px;
  border-radius: 10px;
  width: 26%;
  background-color: rgba(159, 189, 235, 0.644);
}
button{
  width: 100%;
  font-size: x-large;
  color: rgb(60, 101, 214);
  font-weight: bolder;
}

input{
  grid-column: 1/6;
  text-align: right;
  font-size: x-large;
  padding-right: 10px;
}

.equal{
  grid-column: 5/6;
  grid-row: 4/6;
  background-color: blue;
  color: white;
}

.C{
  background-color: red;
  color: white;
}